body {
  background-color: rgb(255, 255, 255);
  font: 300 1em/1.6 Lato;
  color: rgb(161, 161, 161);
}

.mainlogo {
  float: left;
  width: 125px;
  height: 50px;
  background-image: url('../images/mainlogo@2x.png');
  background-repeat: no-repeat;
  background-size: 116px 35px;
  background-position: left top;
}

.mainnav {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 1px auto 0;
}

.mainnav .element {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 60.7003837719%;
  z-index: 8;
  width: 44px;
  height: 50px;
  background-image: url('../images/icon2@2x.png');
  background-repeat: no-repeat;
  background-size: 110px 455px;
  background-position: 50% 14px;
}

.midlesection {
  position: relative;
  width: 100%;
  height: 221px;
  margin: 0 auto;
  background-color: #e8ecf0;
}

.nav {
  position: relative;
  float: right;
  width: 345px;
  height: 50px;
}

.text {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.topsection {
  width: 100%;
  height: 552px;
  margin: 0 auto;
  padding: 30px;
  background: url('../images/bg-hero.jpg') rgb(222, 222, 222);
  background-size: auto auto;
  background-position: center bottom;
}

._button {
  display: block;
  width: 214px;
  height: 50px;
  margin: 33px auto 0;
  border-radius: 3px;
  background-color: #00cbea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 0 #00c4e2;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

._container {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  z-index: 16;
  width: 78.3333333333%;
  height: 418px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.nav ._text {
  position: absolute;
  top: 15px;
  font: 400 0.813em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.element-2 {
  width: 325px;
  height: 264px;
  margin: 15px auto 0;
  background-image: url('../images/heroimageC@2x.png');
  background-repeat: no-repeat;
  background-size: 311px 260px;
  background-position: center top;
}

.text-1 {
  margin-top: 36px;
  font: 400 1.375em/1.38 Montserrat;
  color: rgb(0, 0, 0);
}

.text-2 {
  width: 80%;
  margin-top: 14px;
  font-size: 1em;
  color: rgb(161, 161, 161);
}

.text-3 {
  width: 77.9769526248%;
  margin-top: 53px;
  font-size: 1em;
  color: rgb(161, 161, 161);
}

._element-3 {
  width: 100%;
  height: 275px;
  margin: 0 auto;
  background-color: #353e48;
}

.nav ._text-1 {
  right: 280px;
  z-index: 6;
}

.nav ._text-2 {
  right: 217px;
  z-index: 5;
}

.nav ._text-3 {
  right: 143px;
  z-index: 4;
}

.nav ._text-4 {
  right: 55px;
  z-index: 3;
}

.nav ._text-5 {
  right: 1px;
  z-index: 2;
}

@media(max-width: 1000px) {
  .mainnav .nav {
    position: relative;
    z-index: 7;
  }

  .midlesection .element {
    left: 0;
    right: 0;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 640px) {
  body {
    font-size: 1em;
  }

  .mainnav .element {
    visibility: visible;
    left: auto;
    right: 0;
  }

  .mainnav .nav {
    visibility: hidden;
    position: relative;
    z-index: 7;
  }

  .midlesection .element {
    left: 0;
    right: 0;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

@media(max-width: 375px) {
  .mainnav .mainlogo {
    position: relative;
    z-index: 1;
  }

  .mainnav .nav {
    position: relative;
    clear: both;
    z-index: 7;
  }

  .midlesection .element {
    left: 0;
    right: 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .topsection .element-2 {
    width: 254px;
    height: 210px;
    margin-top: 70px;
    background-size: cover;
  }
}