body {
  background-color: rgb(47, 47, 47);
  font: 400 0.813em/1.38 Lato;
  color: rgb(103, 129, 149);
}

.appbox {
  position: relative;
  width: 940px;
  margin: 68px auto 0;
  padding-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f9fc;
}

.container {
  float: right;
  width: 8.2024432809%;
  height: 30px;
  border: 1px solid rgb(217, 229, 238);
  border-radius: 2px;
}

.container .text {
  margin: 6px auto 0;
  font-size: 0.923em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(196, 209, 219);
}

.element .text {
  position: absolute;
  top: 6px;
  left: 26.8456375838%;
  z-index: 34;
  font: 400 1.077em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.header {
  float: left;
  width: 100%;
  height: 64px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.header .element {
  position: relative;
  float: right;
  width: 149px;
  height: 31px;
  margin-top: 17px;
  padding-left: 40px;
  overflow: hidden;
}

.image {
  display: block;
  position: absolute;
  height: auto;
  overflow: hidden;
}

.list1 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 13px 20px 13px 60px;
  border: 1px solid rgb(217, 229, 238);
  background-color: rgb(255, 255, 255);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.list1:hover {
  background-color: rgb(249, 249, 249);
}

.list1 .element {
  left: 19px;
  z-index: 22;
  background-position: 0px 6px;
}

.list2 .element {
  left: 20px;
  z-index: 17;
  background-position: 0px -47px;
}

.list3 .element {
  left: 20px;
  z-index: 12;
  background-position: 0px -97px;
}

.list4 .element {
  left: 20px;
  z-index: 9;
  background-position: 0px -149px;
}

.list5 .element {
  left: 20px;
  z-index: 6;
  background-position: 0px -201px;
}

.list6 .element {
  left: 20px;
  z-index: 3;
  background-position: 0px -250px;
}

.list2,
.list3,
.list4,
.list5,
.list6,
.list7 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 13px 20px 13px 60px;
  border-right: 1px solid rgb(217, 229, 238);
  border-bottom: 1px solid rgb(217, 229, 238);
  border-left: 1px solid rgb(217, 229, 238);
  background-color: rgb(255, 255, 255);
}

.list7 .element {
  left: 20px;
  background-position: 0px -300px;
}

.list4 .text,
.list5 .text,
.list6 .text,
.list7 .text,
.text-3,
.text-5,
.text-7 {
  float: left;
  margin-top: 6px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(103, 129, 149);
}

.optionapp {
  float: left;
  clear: both;
  width: 615px;
  margin: 30px 0 0 17.28391%;
}

.sublogo {
  float: left;
  width: 117px;
  height: 44px;
  margin-top: 10px;
  background-image: url('../images/icon2@2x.png');
  background-repeat: no-repeat;
  background-size: 110px 455px;
  background-position: 50% -229px;
}

.warn1 {
  position: relative;
  float: left;
  width: 100%;
  height: 74px;
  padding-right: 20px;
  padding-left: 90px;
  border: 1px solid rgb(233, 238, 195);
  border-radius: 3px;
  background-color: #f7f6d3;
  box-shadow: 2px 0 0 rgba(0, 0, 0, 0.05) inset;
}

.warn1 .image {
  top: 8px;
  left: 2.2271714922%;
  z-index: 28;
  width: 54px;
}

.warn1 .text {
  float: left;
  width: 85.966981132%;
  min-height: 48px;
  margin-top: 13px;
  font-size: 1.077em;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(193, 192, 158);
}

.warning {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

._element {
  position: absolute;
  top: 13px;
  width: 26px;
  height: 30px;
  background-image: url('../images/icons@2x.png');
  background-repeat: no-repeat;
  background-size: 74px 319px;
}

.image-1 {
  top: 13px;
  left: 92.8691275167%;
  z-index: 35;
  width: 9px;
}

.image-2 {
  top: 0;
  left: 0;
  z-index: 33;
  width: 31px;
}

@media(max-width: 1024px) {
  .appbox {
    width: 94%;
  }

  .appbox .header {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .appbox .optionapp {
    float: none;
    clear: none;
    margin-top: 140px;
    margin-right: auto;
    margin-left: auto;
  }

  .element .image {
    height: auto;
  }

  .header .element {
    margin-top: 16px;
  }

  .header .sublogo {
    margin-top: 9px;
  }

  .list1 .element {
    left: 20px;
  }

  .list4 .text {
    position: relative;
    z-index: 10;
  }

  .list5 .text {
    position: relative;
    z-index: 7;
  }

  .list6 .text {
    position: relative;
    z-index: 4;
  }

  .list7 .text {
    position: relative;
    z-index: 1;
  }

  .warn1 .image {
    left: 2.1726215734%;
    height: auto;
  }

  .warn1 .text {
    position: relative;
    z-index: 29;
  }

  .list1 .text-3 {
    position: relative;
    z-index: 23;
  }

  .list2 .text-5 {
    position: relative;
    z-index: 18;
  }

  .list3 .text-7 {
    position: relative;
    z-index: 13;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 0.813em;
  }

  .appbox .optionapp {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 106px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  .appbox .warning {
    float: none;
    clear: none;
    margin-right: auto;
    margin-left: auto;
  }

  .element .image {
    height: auto;
  }

  .list1 .container,
  .list2 .container,
  .list3 .container {
    width: 53px;
  }

  .list4 .text {
    position: relative;
    z-index: 10;
  }

  .list5 .text {
    position: relative;
    z-index: 7;
  }

  .list6 .text {
    position: relative;
    z-index: 4;
  }

  .list7 .text {
    position: relative;
    z-index: 1;
  }

  .warn1 .image {
    top: 10px;
    left: 2.9415820195%;
    height: auto;
  }

  .warn1 .text {
    position: relative;
    z-index: 29;
    width: 100%;
    margin-top: 6px;
  }

  .warning .warn1 {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .list1 .text-3 {
    position: relative;
    z-index: 23;
  }

  .list2 .text-5 {
    position: relative;
    z-index: 18;
  }

  .list3 .text-7 {
    position: relative;
    z-index: 13;
  }
}

@media(max-width: 480px) {
  .appbox .optionapp {
    float: none;
    clear: none;
    margin-top: 151px;
    margin-right: auto;
    margin-left: auto;
  }

  .appbox .warning {
    float: left;
    clear: both;
    margin-right: 0;
    margin-left: 0;
  }

  .element .image {
    height: auto;
  }

  .list4 .text {
    position: relative;
    z-index: 10;
  }

  .list5 .text {
    position: relative;
    z-index: 7;
  }

  .list6 .text {
    position: relative;
    z-index: 4;
  }

  .list1 .element,
  .list2 .element,
  .list3 .element,
  .list4 .element,
  .list5 .element,
  .list6 .element,
  .list7 .element {
    visibility: hidden;
  }

  .list7 .text {
    position: relative;
    z-index: 1;
  }

  .optionapp .list1,
  .optionapp .list2,
  .optionapp .list3,
  .optionapp .list4,
  .optionapp .list5,
  .optionapp .list6,
  .optionapp .list7,
  .warning .warn1 {
    padding-left: 20px;
  }

  .warn1 .image {
    visibility: hidden;
    height: auto;
  }

  .warn1 .text {
    position: relative;
    z-index: 29;
  }

  .list1 .text-3 {
    position: relative;
    z-index: 23;
  }

  .list2 .text-5 {
    position: relative;
    z-index: 18;
  }

  .list3 .text-7 {
    position: relative;
    z-index: 13;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 0.813em;
  }

  .appbox {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .appbox .optionapp {
    margin-top: 166px;
  }

  .element .image {
    height: auto;
  }

  .element .image-1,
  .element .text {
    visibility: hidden;
    left: 0;
  }

  .header .element {
    width: 35px;
    padding-left: 0;
  }

  .list4 .text {
    position: relative;
    z-index: 10;
  }

  .list5 .text {
    position: relative;
    z-index: 7;
  }

  .list6 .text {
    position: relative;
    z-index: 4;
  }

  .list7 .text {
    position: relative;
    z-index: 1;
    margin-left: 2.23871%;
  }

  .warn1 .image {
    height: auto;
  }

  .warn1 .text {
    position: relative;
    z-index: 29;
    margin-top: 0;
  }

  .list1 .text-3 {
    position: relative;
    z-index: 23;
  }

  .list2 .text-5 {
    position: relative;
    z-index: 18;
  }

  .list3 .text-7 {
    position: relative;
    z-index: 13;
  }
}