body {
  background-color: rgb(255, 255, 255);
  font: 400 0.813em/1.38 Lato;
  color: rgb(103, 129, 149);
}

.container {
  float: right;
  width: 8.2024432809%;
  height: 30px;
  border: 1px solid rgb(217, 229, 238);
  border-radius: 2px;
}

.container .text {
  margin: 6px auto 0;
  font-size: 0.923em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(196, 209, 219);
}

.element {
  position: absolute;
  top: 13px;
  width: 26px;
  height: 30px;
  background-image: url('../images/icons@2x.png');
  background-repeat: no-repeat;
  background-size: 74px 319px;
}

.image {
  display: block;
  position: absolute;
  top: 8px;
  left: 2.2271714922%;
  width: 54px;
  height: auto;
  overflow: hidden;
}

.list1 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 13px 20px 13px 60px;
  border: 1px solid rgb(217, 229, 238);
  background-color: rgb(255, 255, 255);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.list1:hover {
  background-color: rgb(249, 249, 249);
}

.list1 .element {
  left: 19px;
  z-index: 26;
  background-position: 0px 6px;
}

.list2 .element {
  left: 20px;
  z-index: 21;
  background-position: 0px -47px;
}

.list3 .element {
  left: 20px;
  z-index: 16;
  background-position: 0px -97px;
}

.list4 .element {
  left: 20px;
  z-index: 13;
  background-position: 0px -149px;
}

.list5 .element {
  left: 20px;
  z-index: 10;
  background-position: 0px -201px;
}

.list6 .element {
  left: 20px;
  z-index: 7;
  background-position: 0px -250px;
}

.list2,
.list3,
.list4,
.list5,
.list6,
.list7 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 13px 20px 13px 60px;
  border-right: 1px solid rgb(217, 229, 238);
  border-bottom: 1px solid rgb(217, 229, 238);
  border-left: 1px solid rgb(217, 229, 238);
  background-color: rgb(255, 255, 255);
}

.list7 .element {
  left: 20px;
  z-index: 4;
  background-position: 0px -300px;
}

.list4 .text,
.list5 .text,
.list6 .text,
.list7 .text,
.text-2,
.text-4,
.text-6 {
  float: left;
  margin-top: 6px;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(103, 129, 149);
}

.optionapp {
  width: 615px;
  margin: 33px auto 0;
}

.share {
  width: 193px;
  height: 24px;
  margin: 108px auto 0;
  background-image: url('../images/count%201.png');
  background-repeat: no-repeat;
  background-size: 191px 21px;
  background-position: left top;
}

.warn1 {
  position: relative;
  float: left;
  width: 100%;
  height: 74px;
  padding-right: 20px;
  padding-left: 90px;
  border: 1px solid rgb(233, 238, 195);
  border-radius: 3px;
  background-color: #f7f6d3;
  box-shadow: 2px 0 0 rgba(0, 0, 0, 0.05) inset;
}

.warn1 .text {
  float: left;
  width: 85.966981132%;
  min-height: 48px;
  margin-top: 13px;
  font-size: 1.077em;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(193, 192, 158);
}

.warning {
  position: relative;
  width: 78.3333333333%;
  margin: 30px auto 0;
  padding-right: 20px;
  padding-left: 20px;
}

@media(max-width: 1024px) {
  .list1 .container {
    margin-top: 60px;
  }

  .list1 .element {
    left: 20px;
  }

  .list4 .text {
    position: relative;
    z-index: 14;
  }

  .list5 .text {
    position: relative;
    z-index: 11;
  }

  .list6 .text {
    position: relative;
    z-index: 8;
  }

  .list7 .text {
    position: relative;
    z-index: 5;
  }

  .optionapp {
    position: relative;
    float: left;
    clear: both;
    z-index: 31;
    margin-top: -2704px;
    margin-right: 0;
    margin-left: 30.12543%;
  }

  .share {
    position: relative;
    float: left;
    z-index: 32;
    margin-top: -2254px;
    margin-right: 0;
    margin-left: 51.70746%;
  }

  .warn1 .image {
    left: 2.1726215734%;
    height: auto;
  }

  .warn1 .text {
    position: relative;
    z-index: 1;
  }

  .warning {
    position: relative;
    float: left;
    z-index: 3;
    margin-top: 317px;
    margin-right: 0;
    margin-left: 10.83374%;
  }

  .warning .warn1 {
    margin-top: 2510px;
  }

  .list1 .text-2 {
    position: relative;
    z-index: 27;
    margin-top: 66px;
  }

  .list2 .text-4 {
    position: relative;
    z-index: 22;
  }

  .list3 .text-6 {
    position: relative;
    z-index: 17;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 0.813em;
  }

  .list1 .container {
    width: 53px;
    margin-top: 62px;
  }

  .list2 .container,
  .list3 .container {
    width: 53px;
  }

  .list4 .text {
    position: relative;
    z-index: 14;
  }

  .list5 .text {
    position: relative;
    z-index: 11;
  }

  .list6 .text {
    position: relative;
    z-index: 8;
  }

  .list7 .text {
    position: relative;
    z-index: 5;
  }

  .optionapp {
    position: relative;
    z-index: 31;
    width: 100%;
    margin-top: -2749px;
    margin-left: 40.16927%;
    padding-right: 20px;
    padding-left: 20px;
  }

  .share {
    position: relative;
    z-index: 32;
    margin-top: -2299px;
    margin-left: 68.94531%;
  }

  .warn1 .image {
    top: 10px;
    left: 2.9415820195%;
    height: auto;
  }

  .warn1 .text {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: 6px;
  }

  .warning {
    position: relative;
    z-index: 3;
  }

  .warning .warn1 {
    height: auto;
    margin-top: 2538px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .list1 .text-2 {
    position: relative;
    z-index: 27;
    margin-top: 68px;
  }

  .list2 .text-4 {
    position: relative;
    z-index: 22;
  }

  .list3 .text-6 {
    position: relative;
    z-index: 17;
  }
}

@media(max-width: 480px) {
  .list1 .container {
    margin-top: 77px;
  }

  .list4 .text {
    position: relative;
    z-index: 14;
  }

  .list5 .text {
    position: relative;
    z-index: 11;
  }

  .list6 .text {
    position: relative;
    z-index: 8;
  }

  .list1 .element,
  .list2 .element,
  .list3 .element,
  .list4 .element,
  .list5 .element,
  .list6 .element,
  .list7 .element {
    visibility: hidden;
  }

  .list7 .text {
    position: relative;
    z-index: 5;
  }

  .optionapp {
    position: relative;
    z-index: 31;
    margin-top: -2835px;
    margin-left: 64.26758%;
  }

  .optionapp .list1,
  .optionapp .list2,
  .optionapp .list3,
  .optionapp .list4,
  .optionapp .list5,
  .optionapp .list6,
  .optionapp .list7 {
    padding-left: 20px;
  }

  .share {
    position: relative;
    clear: both;
    z-index: 32;
    margin-top: -2385px;
    margin-left: 110.3125%;
  }

  .warn1 .image {
    visibility: hidden;
    height: auto;
  }

  .warn1 .text {
    position: relative;
    z-index: 1;
  }

  .warning {
    position: relative;
    z-index: 3;
    margin-left: 10.83008%;
  }

  .warning .warn1 {
    margin-top: 2603px;
    padding-left: 20px;
  }

  .list1 .text-2 {
    position: relative;
    z-index: 27;
    margin-top: 83px;
  }

  .list2 .text-4 {
    position: relative;
    z-index: 22;
  }

  .list3 .text-6 {
    position: relative;
    z-index: 17;
  }
}

@media(max-width: 320px) {
  body {
    font-size: 0.813em;
  }

  .list1 .container {
    margin-top: 0;
  }

  .list4 .text {
    position: relative;
    z-index: 14;
  }

  .list5 .text {
    position: relative;
    z-index: 11;
  }

  .list6 .text {
    position: relative;
    z-index: 8;
  }

  .list7 .text {
    position: relative;
    z-index: 5;
    margin-left: 2.23871%;
  }

  .optionapp {
    position: relative;
    z-index: 31;
    margin-top: -3705px;
    margin-left: 96.40625%;
  }

  .share {
    position: relative;
    z-index: 32;
    margin-top: -3255px;
    margin-left: 529px;
  }

  .warn1 .image {
    height: auto;
  }

  .warn1 .text {
    position: relative;
    z-index: 1;
    margin-top: 0;
  }

  .warning {
    position: relative;
    z-index: 3;
  }

  .warning .warn1 {
    margin-top: 3437px;
  }

  .list1 .text-2 {
    position: relative;
    z-index: 27;
    margin-top: 6px;
  }

  .list2 .text-4 {
    position: relative;
    z-index: 22;
  }

  .list3 .text-6 {
    position: relative;
    z-index: 17;
  }
}